<div class='check-out'>
  <%= render 'layouts/header_user' %>
  <div class='container'>
    <h1 style='color: #ffffff; font-weight: 600; text-align: center; margin-top: 40px;'>DONATION</h1>
    <div class='col-sm-4 col-sm-offset-2' style='margin-top: 5%; padding: 0px'>
      <h3 style='background: #404040; text-transform: uppercase; color: white; font-weight: 600; letter-spacing: 0.15em; font-size: 17px; padding: 1.5em 0; margin: 0px; text-align: center;'>DONATION INFORMATION</h3>

      <div class='form-group' style='padding:15px;'>
        <%= form_for(@user) do |f| %>

          <div><%= f.text_field :address, autofocus: true, placeholder: "ADDRESS" %></div>

          <div><%= f.text_field :card_number, autofocus: true, placeholder: 'CREDIT CARD NUMBER' %></div>

          <div class="col-md-6" style='padding: 0px 7.5px 0px 0px'><%= select_month Date.today.month, {add_month_numbers: true}, {name: nil, id: "card_month", class: "form-control"} %>
          </div>

          <div class="col-md-6" style='padding:0px 0px 0px 7.5px'>
            <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year", class: "form-control"} %>
          </div>

          <div><%= f.submit "COMPLETE" %></div>
        <% end %>

      </div>

    </div>
  </div>
</div>
