<%= render 'layouts/header' %>

<div style='text-align:center; top:8em; position: relative;'>
  <h2>We are weeks away from launching!</h2>
  <p>The menu will be released soon...</p>
  <p style='margin-top:100px;'>If you are interested in becoming a partner please click the button below</p>
  <li><%= link_to 'Become a Partner', partners_path, class: 'btn-started' %></li>
</div>

<footer style='bottom: 0; position:absolute;'>
  <div class="container group">
    <div class="footer-links group">
      <div>
        <h3>ZenDrop</h3>
        <ul>
          <li><%= link_to 'Menu', menu_path %></li>
          <li><a href="#how-it-works">How It Works</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    <div>
    <h3>Vendors</h3>
      <ul>
        <li><%= link_to 'Become a Partner', partners_path %></li>
        <li><%= link_to 'Vendor 101', partners_path %></li>
        <li><%= link_to 'Partner Agreement', partners_path %></li>
      </ul>
    </div>
    <div>
      <h3>Social</h3>
        <ul>
          <li><a href="#" target="_blank">Facebook</a></li>
          <li><a href="#" target="_blank">Twitter</a></li>
          <li><a href="#" target="_blank">Pinterest</a></li>
          <li><a href="#" target="_blank">Instagram</a></li>
        </ul>
    </div>
      <div>
        <h3>Information</h3>
        <ul>
            <li><%= link_to 'About', about_path %></li>
            <li><a href="mailto:info@zendrop.co">Contact Us</a></li>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
    <div class="copyright">© 2014 ZenDrop Inc. All rights reserved</div>
  </div>
</footer>

