<div class='col-sm-6 col-sm-offset-2'>
  <div class='form-box' style='width:400px; height: 420px'>
    <h2 class='form-box-header' style='background: #555056;text-transform: uppercase; color:white; font-weight: 600; letter-spacing: 0.15em;font-size: 17px; padding: 1.5em 0;'>Interested in working together?</h2>
    <div class='form-box-group-name'>

      <%= form_for :user, url: { action: "create" }, remote: true do |f| %>

      <div class='col-sm-5'>
         <%= f.text_field :first_name, placeholder: 'FIRST NAME', class: 'form-control' %>
      </div>
      <div class='col-sm-5'>
         <%= f.text_field :last_name, placeholder: 'LAST NAME', class: 'form-control' %>
      </div>
      <div>
          <%= f.text_field :email, placeholder: 'EMAIL', class: 'form-control' %>
      </div>
      <div>
          <%= f.text_area :description, placeholder: 'Tell us about your product', class: 'form-control' %>
      </div>


      <%= f.submit 'SEND', class: "btn btn-primary" %>

       <% end %>
    </div>
  </div>
</div>
