<%= render 'layouts/header' %>

<div class='container' style='height:600px; padding-top: 50px;'>

  <div class='col-sm-4' style='height: 400px;'>
    <div style='margin-top:21px;'>
      <img src="<%= @product.image_url %>" style='height: 350px; width: 350px;'>
    </div>
  </div>

  <div class='col-sm-6' style='height: 400px;'>
    <h2><%= @product.name %></h2>
    <p>
      <b>Price:</b>
    <%= number_to_currency(@product.price) %>
    <% if @product.category.name == 'Flowers' %>
      <%= 'per gram' %>
    <% elsif @product.category.name == 'Concentrates' %>
      <%= 'per gram' %>
    <% else %>
      <%= 'per unit' %>
    <% end %>
    </p>

    <p style='color: #45b052'><b>In Stock</b></p>

    <p style='margin:0px;'><b>Product Description</b></p>
    <p><%= @product.description %></p>

    <p style='margin:0px;'><b>Medical Benefits</b></p>
    <p><%= @product.medical_description %></p>

  </div>

  <div class='col-sm-2 well' style='margin-top: 21px;'>
    <div class='addtocart-header'>
      <p><span style='float:left; margin-right: 5px;'>Total Price:</span>
      <output id="priceValue">0</output></i></p>
    </div>

    <div class='addtocart-body'>
      <select class='form-control' onchange='priceValue.value=value*<%= @product.price %>'>
        <option default>Select Quantity</option>
        <% if @product.category.name == 'Flowers' %>
          <option value="1">1 gram</option>
          <option value="2">2 grams</option>
          <option value="3">3 grams</option>
          <option value="4">4 grams</option>
          <option value="5">5 grams</option>
          <option value="6">6 grams</option>
          <option value="7">7 grams</option>
          <option value="8">8 grams</option>
          <option value="9">9 grams</option>
          <option value="10">10 grams</option>
        <% elsif @product.category.name == 'Concentrates' %>
          <option value="1">1 gram</option>
          <option value="2">2 grams</option>
          <option value="3">3 grams</option>
          <option value="4">4 grams</option>
          <option value="5">5 grams</option>
          <option value="6">6 grams</option>
          <option value="7">7 grams</option>
          <option value="8">8 grams</option>
          <option value="9">9 grams</option>
          <option value="10">10 grams</option>
        <% else %>
          <option value="1">1 unit</option>
          <option value="2">2 units</option>
          <option value="3">3 units</option>
          <option value="4">4 units</option>
          <option value="5">5 units</option>
          <option value="6">6 units</option>
          <option value="7">7 units</option>
          <option value="8">8 units</option>
          <option value="9">9 units</option>
          <option value="10">10 units</option>
        <% end %>
      </select>
    </div>

    <div class='addtocart-footer'>
      <button class="btn btn-started" type="submit" style='margin: auto; width:100%;'><i class='fa fa-shopping-cart' style='margin-left:-5px;'></i> Add to Cart
      </button>
    </div>

    <%= render template: 'orders/new' %>

  </div>
</div>

