<!DOCTYPE html>
<html>
<head>
  <title>Zendrop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://js.stripe.com/v1/" , "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body class="<%= page_class %>">

    <%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
